./go/models/gong.go
go/gongc/__debug_bin
test/__debug_bin
test/go/tests/.DS_Store
test2/__debug_bin
.DS_Store
test/go/.DS_Store
test/.DS_Store
go/gongc/__debug_bin.exe
test2/__debug_bin.exe
go/controllers/gongapi.yml
test/test
test2/test2
test/go/controllers/testapi.yml
test2/go/controllers/test2api.yml

go/cmd/gong/gong.exe
go/cmd/gong/gong
test2/test2.exe
test/test.exe
go/cmd/gongc/__debug_bin
go/cmd/gongc/__debug_bin.exe
test/go/cmd/test/test.exe
test/go/cmd/test/__debug_bin.exe
test2/go/cmd/test2/test2.exe
test/go/cmd/test/test
test2/go/cmd/test2/test2
test/.DS_Store

test/go/cmd/test/__debug_bin
test/go/.DS_Store
test/.DS_Store
go/cmd/gong/__debug_bin.exe
test/go/tests/~$serialize_test.xlsx
test/.DS_Store
test/go/tests/parse_tests/__debug_bin.exe
