<!-- button bar that is present in all tabs -->
<ng-template #radioToolbar>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="view">
        <mat-radio-button *ngFor="let view of views" [value]="view">
            {{view}}&nbsp;&nbsp;&nbsp;
        </mat-radio-button>
    </mat-radio-group>
</ng-template>

<lib-testspecific>

</lib-testspecific>

<as-split unit="pixel" *ngIf="view==default" direction="vertical">
    <as-split-area [size]=40>
        <ng-container *ngTemplateOutlet="radioToolbar"></ng-container>
    </as-split-area>
    <as-split-area [size]="$any('*')">
        <as-split direction="vertical">
            <as-split-area [size]=50>
                <as-split direction="horizontal">
                    <as-split-area [size]="20">
                        <lib-tree [GONG__StackPath]="StackName+'-sidebar'" name="gong"></lib-tree>
                    </as-split-area>
                    <as-split-area [size]="50">
                        <div [ngStyle]="scrollStyle">
                            <lib-material-table TableName="Table" [DataStack]="StackName+'-table'"></lib-material-table>
                        </div>
                    </as-split-area>
                    <as-split-area [size]="30">
                        <lib-material-form FormName="Form" [DataStack]="StackName+'-form'"></lib-material-form>
                    </as-split-area>
                </as-split>
            </as-split-area>
            <as-split-area [size]=50>
                <lib-panel [GONG__StackPath]="StackType"></lib-panel>
            </as-split-area>
        </as-split>
    </as-split-area>
</as-split>