<mat-radio-group aria-label="Select an option" [(ngModel)]="view">
    <mat-radio-button *ngFor="let view of views" [value]="view">
        {{view}}&nbsp;
    </mat-radio-button>
</mat-radio-group>
<as-split *ngIf="view==simu" direction="vertical">
    <as-split-area size="10">
        <lib-engine-control simulationTitle="Laundry time !" [engineUpdatedCallbackFunction]="engineUpdatedCallbackFunction"></lib-engine-control>
    </as-split-area>
    <as-split-area size="40">
        <as-split direction="horizontal">
            <as-split-area size="50">
                <router-outlet name="washerpres"></router-outlet>
            </as-split-area>
            <as-split-area size="50">
                <router-outlet name="washerstates"></router-outlet>
            </as-split-area>
        </as-split>
    </as-split-area>
    <as-split-area size="50">
        <as-split direction="horizontal">
            <as-split-area size="50">
                <router-outlet name="machinepres"></router-outlet>
            </as-split-area>
            <as-split-area size="50">
                <router-outlet name="machinestates"></router-outlet>
            </as-split-area>
        </as-split>
    </as-split-area>
</as-split>
<app-laundromat-splitter *ngIf="view==data"></app-laundromat-splitter>


<as-split *ngIf="view==sim" direction="vertical">
    <as-split-area size="05">
        <h4>&nbsp;</h4>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-radio-group aria-label="Select an option" [(ngModel)]="view">
            <mat-radio-button *ngFor="let view of views" [value]="view">
                {{view}}&nbsp;&nbsp;&nbsp;
            </mat-radio-button>
        </mat-radio-group>
    </as-split-area>
    <as-split-area size="95">
        <app-gongsim-splitter></app-gongsim-splitter>
    </as-split-area>
</as-split>


<as-split *ngIf="view==diagrams" direction="vertical">
    <as-split-area size="05">
        <h4>&nbsp;</h4>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-radio-group aria-label="Select an option" [(ngModel)]="view">
            <mat-radio-button *ngFor="let view of views" [value]="view">
                {{view}}&nbsp;&nbsp;&nbsp;
            </mat-radio-button>
        </mat-radio-group>
    </as-split-area>
    <as-split-area size="95">
        <lib-pkgelt-docs></lib-pkgelt-docs>
    </as-split-area>
</as-split>