<as-split>
    <!-- // well rendered with a go server on os and when with wasm -->
    <!-- <as-split-area>
        <lib-test4-specific Name="test4"></lib-test4-specific>
    </as-split-area> -->
    <as-split-area>
        <lib-split-specific Name="github.com/fullstack-lang/gong/test/test4/go/models:test4:probe of the probe"></lib-split-specific>
    </as-split-area>

    <!-- // well rendered with a go server on os, not rendered when with wasm -->
    <as-split-area>
        <lib-split-specific Name=""></lib-split-specific>
    </as-split-area>
</as-split>